<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Signin page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="signin.css"/>

</head>

<body class="text-center">

<div class="h-100 d-flex justify-content-center align-items-center">
<div class="h-100 row align-items-center">

<form th:action="@{/login-process}" method="post" class="form-signin">

    <h1 class="h3 mb-3 font-weight-normal" align="center">Log in</h1>

    <label for="inputUsername" class="sr-only" >Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Email" th:required="required" th:name="email"/>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control mt-1" placeholder="Password" th:required="required" th:name="password"/>

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Don't have an account yet? Click <a href="/register">HERE</a> </p>
    <p class="mt-5 mb-3 text-muted">&copy; JavaKRK22 Wojciech Radymski & Krystian Urbanik</p>

</form>

</div>

</div>
</body>

</html>
