<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>

<table class="table">
    <tbody>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>

    </tr>
    <form action="/addFriend" method="post">
        <tr th:each="friend : ${searchUsers}">
            <td th:text="${friend.name}"></td>
            <td th:text="${friend.surname}"></td>
            <td>
                <input type="hidden" name="friendId" th:value="${friend.getId()}"/>
                <input type="hidden" name="userId" th:value="${userId}"/>
                <button class="btn btn-success m-2" value="userId friendId">Add friend</button>
            </td>
        </tr>

    </form>

    </tbody>
</table>
<form action="/index">
    <button type="button submit" class="btn btn-secondary">Back to Main</button>
</form>


</body>
</html>